<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Likes</ion-title>
  </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <ion-list>
      <ion-item *ngFor = "let post of likedPosts" (click) = "viewPost(post)">
        <ion-thumbnail *ngIf="post.thumbnail" item-left>
          <img src="{{post.thumbnail}}">
        </ion-thumbnail>
        <h2> {{post.title}}</h2>
        <p>
          <ion-icon name="thumbs-up"> {{post.score}}</ion-icon>
          <ion-icon name="chatboxes"> {{post.num_comments}}</ion-icon>
        </p>
      </ion-item>
    </ion-list>  
  </ion-content>
  